.about {
    text-align: center;
    padding: 6rem 1.5rem;
    max-width: 37.5rem;
    margin: auto;

    &_image {

        img {
            width: 100%;
            margin-bottom: 3rem;
        }
    }

    &_text {
        padding: 0 1.1rem;

        h3 {
            font-size: 2.133em;
            font-weight: lighter;
            margin-bottom: 1rem;
        }

        p {
            opacity: 0.5;
            line-height: 1.5625rem;
        }
    }

}

@media screen and (min-width:50em) {
    .about {
        max-width: 1100px;
        display: flex;
        padding-top: 10rem;
        padding-bottom: 11.5rem;

        &_container {
            position: relative;
            width: 100%;
        }

        &_image {

            img {
                max-width: 731px;
                margin-bottom: 0;
                float: left;
            }
        }

        &_text {
            text-align: left;
            background: $White;
            padding: 6rem 0 0 6rem;
            width: 33.8125rem;
            position: absolute;
            right: 0;
            bottom: 0;

            h3 {
                margin-bottom: 1.5625rem;
                font-size: 3.2em;
            }
        }
    }
}

@media screen and (min-width:68.75em) {

    .about {
        padding-left: 0;
        padding-right: 0;
    }
}