.about {
    text-align: center;
    padding: 6rem 1.5rem;
    max-width: 37.5rem;
    margin: auto;

    &_image { 

        img {
            width: 100%;
            margin-bottom: 3rem;
        }
    }

    &_text {

        padding: 0 1.1rem;

        h3 {
            font-size: 2.133em;
            font-weight: lighter;
            margin-bottom: 1rem;
        }
    
        p {
            opacity: 0.5;
            line-height: 1.5625rem;
        }
    }

}