// @keyframes slide-in-left {
//     100% {
//         right: 0;
//         width: 100%;
//     }
// }

@keyframes slide-in-fade {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 100%;
        
    }
}