.creations {
    padding: 0 1.6rem;
    position: relative;
    text-align: center;

    h3  {
        font-size: 2.133em;
        margin-bottom: 3rem;
        font-weight: lighter;
    }

    button {
        border: 1px black solid;
        text-transform: uppercase;
        background: $White;
        font-size: 0.93em;
        padding: 0.86em 2.66em;
        letter-spacing: 0.93em;
        font-family: $Atlata;
        cursor: pointer;
        margin-bottom: 6rem;

        &:hover {
            background: $Black;
            color: $White;
        }
    }

    &_grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(16rem), 1fr);
        grid-gap: 1.5rem;
        margin-bottom: 2.125em;

        picture{

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                z-index: 5;
                width: 100%;
                height: 100%;
                background: linear-gradient(rgba(0, 0, 0, 0.0283),rgba(0, 0, 0, 0.6019));
            }
        }

        img {
            width: 100%;
            height: 100%;
        }

        h5 {
            font-size: 1.6em;
            color: $White;
            position: absolute;
            bottom: 1.5rem;
            left: 1.25rem;
            z-index: 5;
            font-weight: lighter;
            text-align: left;
        }

        &_items {
            position: relative;
            transition: all 0.2s ease-in-out;

            &:hover {

                h5 {
                    color: black;
                }

                img {
                    opacity: 0.25;
                }
            }
        }
    }
}

@media screen and (min-width:40em) {

    .creations {
        
        &_grid {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (min-width:68.75em) {

    .creations {
        padding: 0;

        h3 {
            text-align: left;
            font-size: 3.2em;
        }
        
        button {
            position: absolute;
            top: 0;
            right: 0;
        }
        
        &_grid {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            margin-bottom: 11.5rem;

            h5 {
                font-size: 2.133em;
                bottom: 2.5rem;
                left: 2.5rem;
            }

        }
    }
}