.footer {
    background: black;
    width: 100%;
    text-align: center;
    color: white;
    padding: 3.5rem 3.25rem;

    img {
        margin-bottom: 2rem;
    }

    small {
        opacity: 0.5;
    }

    &_nav {

        li:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &_socials {

        margin-top: 3rem;

        .fab {
            margin-right: 1rem;
            font-size: 1.6em;
            margin-bottom: 1rem;
            
        }

    }
}