html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;;
}

*,*::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5 {
    margin: 0;
    text-transform: uppercase;
}

body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: $Josefin;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

li {
    list-style: none;
}

// .hidden {
//     display: none;
// }

.show {
    visibility: visible  !important;
}


p,li,small {
    font-family: $Atlata;
    font-size: 1em;
}

// Class to keep everything in 1100px //

.max-width-container{
    max-width: 68.75rem;
    margin: auto;
}

li,.fab {

    &::after {
        content: "";
        display: block;
        height: 2px;
        width: 24px;
        left: 0;
        right: 0;
        background: $White;
        opacity: 0;
        margin: auto;
        transition: opacity 300ms ease-in-out;
    }

    &:hover {
        &:after {
            opacity: 1;
        }
    }
}


