html {
    font-size: 100%;
    box-sizing: border-box;
}

*,*::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5 {
    margin: 0;
    text-transform: uppercase;
}

body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: $Josefin;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

li {
    list-style: none;
}

.hidden {
    display: none  !important;
}

.show {
    display: block;
}


p,li,small {
    font-family: $Atlata;
    font-size: 1em;
}
