
.container {

    background: url('/images/mobile/image-hero.jpg') center no-repeat;
    background-size: cover;
    height: 40.625rem;
    color: $White;
    padding: 2.5rem 1.5rem ;

    .hero {

        display: flex;
        align-items: center;
        height: 100%;
    
        &_text {
            text-align: center;
            text-transform: uppercase;
            padding: 1.5rem;
            border: 2px $White solid;
            max-width: 40.625rem;
    
            h1 {
                font-size: 2.66em;
                text-align: left;
                font-weight: 300;
                line-height: 38px;
            }
            
        }

}
}

@media screen and (min-width:43.75em) {
    .container {
        background: url('/images/desktop/image-hero.jpg') center no-repeat;
        background-size: cover;

        .hero {

            &_text {
                
                h1 {
                    font-size: 4.8em;
                }
            }
        }
    }
}