html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  text-transform: uppercase;
}

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: "Josefin Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

li {
  list-style: none;
}

.hidden {
  display: none  !important;
}

.show {
  display: block;
}

p, li, small {
  font-family: "Alata", sans-serif;
  font-size: 1em;
}

.header_logo img {
  width: 9rem;
  height: 1.5rem;
}

.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}

.header nav ul li:not(:last-child) {
  margin-right: 2rem;
}

.header_hamburger span {
  display: block;
  width: 1.5rem;
  height: 0.125rem;
  background-color: white;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  margin-bottom: 0.3125rem;
}

.header_hamburger.open span:first-child {
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}

.header_hamburger.open span:nth-child(2) {
  opacity: 0;
}

.header_hamburger.open span:last-child {
  -webkit-transform: translateY(-4px) rotate(-45deg);
          transform: translateY(-4px) rotate(-45deg);
}

.header_overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  min-height: 100vh;
  background: black;
  color: white;
  text-transform: uppercase;
  font-size: 1.6em;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.header_overlay li {
  margin-bottom: 1.875rem;
}

.container {
  background: url("/images/mobile/image-hero.jpg") center no-repeat;
  background-size: cover;
  height: 40.625rem;
  color: white;
  padding: 2.5rem 1.5rem;
}

.container .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.container .hero_text {
  text-align: center;
  text-transform: uppercase;
  padding: 1.5rem;
  border: 2px white solid;
  max-width: 40.625rem;
}

.container .hero_text h1 {
  font-size: 2.66em;
  text-align: left;
  font-weight: 300;
  line-height: 38px;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
}

.about {
  text-align: center;
  padding: 6rem 1.5rem;
}

.about_image img {
  width: 100%;
  margin-bottom: 3rem;
}

.about_text {
  padding: 0 1.1rem;
}

.about_text h3 {
  font-size: 2.133em;
  font-weight: lighter;
  margin-bottom: 1rem;
}

.about_text p {
  opacity: 0.5;
  line-height: 1.5625rem;
}

.creations {
  padding: 0 1.6rem;
  position: relative;
}

.creations_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem), 1fr)[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(16rem), 1fr);
  grid-gap: 1rem;
}

.creations_grid img {
  width: 100%;
}

.creations_grid h5 {
  font-size: 1.6em;
  color: white;
  position: absolute;
}

.footer {
  background: black;
  width: 100%;
  text-align: center;
  color: white;
  padding: 3.5rem 3.25rem;
}

.footer img {
  margin-bottom: 2rem;
}

.footer small {
  opacity: 0.5;
}

.footer_nav li:not(:last-child) {
  margin-bottom: 1rem;
}

.footer_socials {
  margin-top: 3rem;
}

.footer_socials .fab {
  margin-right: 1rem;
  font-size: 1.6em;
  margin-bottom: 1rem;
}
/*# sourceMappingURL=style.css.map */